body: {
background-color: rgb(20, 20, 20);
display: flex;
height: 100vh;
justify-content: center;
height: 100vh;
maRgin: 0px;
overflow: hidden;
padding: 0px;
}

#cards{
  display: flex;
  flex-wrap: weap;
  max-width: 916px;
  gap: 8px;
  width: calc(100% - 20px);
}

.card{
  background-color: rgba(255, 255, 255, .02);
  border-radius: 1px solid rgba(255, 255, 255, .02);
  border-radius: 10px;
  cursor: pointer;
  height: 260px;
  width: 300px;


} 